.linksContainer {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  gap: min(72px, 5vw);
  letter-spacing: 0.02em;
}

.link {
  color: var(--common-color-text-inverse-primary);
  text-decoration: none;
  border-bottom: solid 1px transparent;
  transition: border-bottom-color 0.5s ease;
}

.link:hover {
  border-bottom-color: var(--common-color-text-inverse-primary);
}
