.nav {
  flex-grow: 1;
}

.list {
  list-style: none;
  padding: 0;
  margin-bottom: 80px;
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  position: relative;
  margin-right: -10px;
}

.link,
.itemButton {
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  color: var(--common-color-text-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s;
  font-family: var(--common-font-en), sans-serif;
  padding: 12px 20px;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.nav:hover .itemButton,
.nav:hover .link {
  color: gray;
}

.nav .itemButton:hover,
.nav .link:hover {
  color: black !important;
}

.arrow {
  position: absolute;
  right: 44px;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.submenu {
  list-style: none;
  margin: 0;
  background-color: var(--common-color-bg-primary);
  transition: max-height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  font-family: var(--common-font-en), sans-serif;
  margin-bottom: 30px;
}

.submenuItem {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.submenuImage {
  width: 100%;
  min-width: 930px;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 4px;
  margin-bottom: -35px;
}

.submenuLink {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: var(--common-color-bg-inverse-primary);
  transition: color 0.3s;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 25px;
}

.withSubmenuBorder {
  border-left: 3px solid lightgray;
  padding-left: 25px;
  margin-left: 20px;
}

.overlayText {
  position: absolute;
  font-family: var(--common-font-en), sans-serif;
  bottom: 5px;
  left: 15px;
  font-size: 24px;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 20px;
}

.submenuItem[data-name="Reserve"] .overlayText{
  color: black !important;
}

.list {
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.submenuLink:hover {
  color: var(--common-color-text-primary);
}

@media (max-width: 1024px) {
  .submenu {
    display: block;
  }

  .item {
    margin-bottom: 20px;
  }

  .list {
    margin-bottom: 40px;
    padding-left: 20px;
    margin-top: 50px;
  }
}