@use '/src/styles/variables' as *;

.nav {
  flex-grow: 1;
}

.list {
  list-style: none;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

.item {
  position: relative;
  margin-right: -10px;
}

.link,
.item_button {
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  color: var(--common-color-text-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s;
  font-family: var(--common-font-en), sans-serif;
  padding: 12px 20px;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.nav:hover .item_button,
.nav:hover .link {
  color: var(--common-color-text-secondary);
}

.nav .item_button:hover,
.nav .link:hover {
  color: var(--common-color-bg-inverse-primary);
}

.arrow {
  position: absolute;
  right: 40px;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.submenu {
  list-style: none;
  margin: 0;
  background-color: var(--common-color-bg-primary);
  transition: max-height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  font-family: var(--common-font-en), sans-serif;
  margin-bottom: 30px;
}

.submenu_item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.image_container {
  width: calc(100vw - 10%);
  max-width: 100%;
  min-width: calc(20vw + 650px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 4px;
  margin-bottom: -35px;
}

.submenu_link {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: var(--common-color-bg-inverse-primary);
  transition: color 0.3s;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 25px;
}

.border {
  border-left: 3px solid var(--common-color-bg-tertiary);
  padding-left: 25px;
  margin-left: 20px;
}

.image_text {
  position: absolute;
  font-family: var(--common-font-en), sans-serif;
  bottom: 5px;
  left: 15px;
  font-size: 24px;
  color: var(--common-color-text-inverse-primary);
  padding: 8px 12px;
  border-radius: 4px;
  margin-left: 20px;
}

.submenu_item[data-name="Reserve"] .image_text {
  color: var(--common-color-bg-inverse-primary) !important;
}

.list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.submenu_link:hover {
  color: var(--common-color-text-primary);
}

.language_button {
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  color: var(--common-color-text-primary);
  background: none;
  border: none;
  width: 100%;
  border-left: 3px solid var(--common-color-bg-tertiary);
  text-align: left;
  padding: 12px 20px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin-left: 20px;

  &:hover {
    color: var(--common-color-bg-inverse-primary) !important;
  }

  &.active {
    font-weight: bold;
  }
}

@media (max-width: $screen-laptop) {
  .image_container {
    min-width: calc(20vw + 650px);
  }

  .submenu {
    display: block;
  }

  .item {
    margin-bottom: 20px;
  }

  .list {
    margin-bottom: 40px;
    padding-left: 20px;
    margin-top: 90px;
  }

  .arrow {
    right: 70px;
  }
}

@media (max-width: $screen-tablet-l) {
  .image_container {
    min-width: calc(20vw + 550px);
  }
}

@media (max-width: $screen-tablet) {
  .image_container {
    width: calc(90vw - 10%);
    min-width: auto;
  }
}
