@use '/src/styles/variables' as *;

.footer {
  flex-shrink: 0;
  text-align: left;
  background: var(--common-color-bg-primary);
  padding-left: 40px;
}

.title {
  font-family: var(--common-font-en), sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: var(--common-color-text-primary);
  margin-bottom: 12px;
}

.description {
  font-family: var(--common-font-en), sans-serif;
  font-size: 14px;
  color: var(--common-color-text-primary);
  margin-bottom: 15px;
  max-width: 450px;
  line-height: 1.4;
}

.subscribe {
  font-family: var(--common-font-en), sans-serif;
  font-size: 14px;
  color: var(--common-color-text-secondary);
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: color 0.3s;
}

.subscribe::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.9px;
  background-color: var(--common-color-text-secondary);
  position: absolute;
  bottom: -4px;
  left: 0;
}

.subscribe:hover {
  color: var(--common-color-text-inverse-secondary);
}

.subscribe:hover::after {
  background-color: var(--common-color-text-inverse-secondary);
}

.socials {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 15px;
  padding-top: 45px;
  padding-bottom: 65px;
}

.list {
  display: flex;
  align-items: center;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--common-color-bg-inverse-primary);
  font-size: 22px;
}

.item:nth-child(5) a {
  font-size: 25px;
}

.link:hover {
  color: var(--common-color-text-inverse-secondary);
}

.icon {
  font-size: 20px;
  color: var(--common-color-bg-inverse-tertiary);
  text-decoration: none;
}

@media (max-width: $screen-laptop) {
  .footer{
    background: var(--common-color-text-inverse-secondary);
    padding: 20px;
    padding-left: 50px;
    padding-top: 40px;
  }
}
