.section {
  max-height: 850px;
  background-color: #ffffff;
  position: relative;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 85%;
  margin-top: 120px;
  margin-bottom: 120px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (max-width: 900px) {
    display: contents;
  }
}

.picture {
  flex: 0 0 50%;
}

@media (max-width: 900px) {
  .section {
    padding: 0;
  }

  .container {
    flex-direction: column;
    gap: 2rem;
    margin-top: 45px;
    width: 95%;
  }

  .title {
    order: -1;
  }

  .picture {
    order: 2;
  }

  .content {
    order: 3;
  }
}
