@font-face {
  font-family: 'SSTW20-Bold', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/SSTW20-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'SSTW20-Roman', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/SSTW20-Roman.woff2') format('woff2');
}
