@use '/src/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 70px;
  width: 100%;
  bottom: 0;
  right: 0;
  background: var(--common-color-bg-primary);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

@media (max-width: $screen-tablet) {
  .menu {
    display: block;
  }
}
