@use '/src/styles/_variables' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: clamp(0px, 10vw, 200px);
  gap: 1rem;
  color: var(--common-color-bg-inverse-primary);
  width: 100%;
}

.subtitle,
.description,
.link {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 0.2px;
}

.description {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.link {
  font-size: 1.1rem;
  color: var(--common-color-bg-inverse-primary);
  text-decoration: underline;
  text-underline-offset: 5px;
  line-height: 1.5;
  margin-top: clamp(0px, 10vw, 200px);
}

@media (max-width: $screen-laptop-l) {
  .link {
    margin-top: clamp(0px, 8vw, 50px);
  }
}

@media (max-width: $screen-laptop-l) {
  .container {
    margin-top: clamp(0px, 5vw, 50px);
  }

  .link {
    margin-top: clamp(0px, 0vw, 50px);
  }
}

@media (max-width: $screen-tablet-l) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1rem;
    margin-top: 10px;
  }

  .textContainer {
    margin-top: 30px;
  }

  .link {
    font-size: 0.9rem;
    margin-top: 0px;
    padding-right: 0;
    margin-bottom: 50px;
  }

  .subtitle {
    font-size: 1.05rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
  }

  .description {
    font-size: 0.75rem;
    margin-bottom: 0.8rem;
  }
}
