.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: normal;
  color: #000;
}

.hashtag {
  font-size: 2.4rem;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
}

.title,
.hashtag,
.textContainer,
.subtitle,
.description,
.link {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  gap: 1rem;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.link {
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  margin-top: 200px;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 13%;
  height: 1px;
  background-color: #000;
}
