$screen-mobile-s: 320px;
$screen-mobile-m: 375px;
$screen-mobile-l: 425px;
$screen-tablet: 768px;
$screen-tablet-l: 900px;
$screen-laptop: 1024px;
$screen-laptop-l: 1440px;
$screen-laptop-4k: 2560px;
