@use '/src/styles/_variables' as *;

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.container {
    margin-top: 76px;
}

.list {
    display: flex;
    align-items: center;
    gap: 26px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--common-color-bg-primary);
    font-size: 35px;

    @media (max-width: $screen-tablet-l){
        font-size: 32px;
    }
}

.item:nth-child(5) a {
    font-size: 37px;
}

.link:hover {
    color: var(--common-color-text-inverse-secondary);
}
