.container {
  width: 100%;
  background-color: var(--common-color-bg-tertiary);
  min-height: 100dvh;
}

.content_container{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-start: 114px;
  padding-inline: max(50% - 960px, 7%);
}

.input_container{
  min-width: 360px;
  max-width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  min-width: 0;
  font-size: 1.5rem;
  line-height: 30px;
  display: block;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: var(--common-font-en), sans-serif;
  white-space: normal;
  letter-spacing: 1px;
}

.form_container {
  margin-top: 32px;
  height: 100px;
  width: 100%;
  background-color: #000;
}

.forgot_password_container {
  box-sizing: border-box;
  width: 100%;
  height: 21px;
  margin-top: 32px;
}

.forgot_password{
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-size: 0.95rem;
  line-height: 21px;
  display: inline;
  color: var(--common-color-text-secondary);
  font-weight: normal;
  white-space: normal;
  letter-spacing: 1px;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--common-color-text-secondary);
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}
  
hr {
  width: 100%;
  padding: 0;
  margin: 32px 0 32px 0;
  border-image: none;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px 0 0;
}

.create_account_button{
  display: inline-flex;
  flex-shrink: 0;
  gap: 4px;
  -moz-box-align: center;
  align-items: center;
  padding: 9px 24px;
  font-size: 0.9rem;
  border-radius: 24px;
  transition: none;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;

  &:hover{
    opacity: 0.6;
  }
}

.create_account_container{
  height: 40px;
  width: 100%;
  display: flex;
}
