.container {
  height: 150vh;
  background-color: #ff7aff;
  position: sticky;
  top: 0;
}

.contentContainer {
  position: relative;
  height: 100svh;
  display: flex;
  align-items: center;
}

.backgroundContainer {}

.playButtonContainer {}