@use '/src/styles/_variables' as *;

.copyright {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 35px;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.7;
    color: var(--common-color-text-secondary);
    font-family: var(--common-font-en), sans-serif;
    text-align: center;
    letter-spacing: 0.03em;

    @media (max-width: $screen-tablet-l){
    font-size: 0.7rem;
    }
}
