@use '/src/styles/_variables' as *;

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 110px 0px 0px;
  text-align: center;
  color: var(--common-color-text-inverse-primary);
  background: var(--common-bg-gradient-dark);
}

.footerContainer {
  box-sizing: border-box;
  display: flex;
  width: 80%;
  max-width: 1800px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $screen-tablet-l) {
    flex-direction: column;
    text-align: left;
    width: 93%;
  }
}

.footerContent {
  box-sizing: border-box;
  width: 50%;

  @media (max-width: $screen-tablet-l) {
    width: 100%;
  }
}
