.icon {
  display: flex;
  align-items: center;
}

.lang {
  display: flex;
  align-items: center;
  border: none;
  background: var(--common-header-bg-color);
  padding: 4px 0;
  border-bottom: 1px solid transparent;
}

.lang:hover {
  border-bottom: solid 1px var(--common-color-text-inverse-primary);
  transition: border-bottom-color 0.5s ease;
  cursor: pointer;
}

.language_button {
  text-decoration: none;
  color: var(--common-color-bg-primary);
  background-color: transparent;
  border: none;
  transition: border-bottom-color 0.5s ease;
  border-bottom: solid 1px transparent;

  &:hover {
    border-bottom-color: var(--common-color-text-inverse-primary);
    cursor: pointer;
  }

  &.active{
    border-bottom-color: var(--common-color-text-inverse-primary);
  }
}

.buttons_container{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100%;
  left: 0;
  height: 80px;
  width: 100%;

  &.hovered {
    background-color: var(--common-color-bg-inverse-primary);
  }
}

.language_nav{
  width: 80%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.language_list{
  display: flex;
  opacity: 1;
  gap: 48px;

}

@media (max-width: 900px) {
  .icon {
    display: none;
  }
}
