.lang {
  margin: 100px;
  display: inline-block;
  position: relative;
}

.lang:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: black;
}
