.icon {
  margin: 100px;
  display: inline-block;
  position: relative;
}

.icon:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1.5px;
  background-color: white;
}
