.container {
  margin-top: 3rem;
  opacity: 0;
  transform: translateY(20px);
  font-family: var(--common-font-en), sans-serif;
  animation: fade-in-right 0.6s ease-out 0.2s forwards;

  .link {
    display: inline-flex;
    align-items: center;
    padding: 14px 25px;
    background-color: var(--common-color-bg-primary);
    color: var(--common-color-bg-inverse-primary);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 1px;
    transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      background-color: transparent;
      color: var(--common-color-bg-primary);
    }

    &:hover {
      .arrow {
        transform: translateX(3px);
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      width: 32px;
      height: 32px;
      transition:
        background-color 0.3s ease;

      &:hover {
        border-color: var(--common-color-text-inverse-primary);
      }
    }

    .text {
      margin: 0;
    }
  }

  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.arrow{
  transform: translateX(0);
}
