:root {
  --screen-mobile-s: 320px;
  --screen-mobile-m: 375px;
  --screen-mobile-l: 425px;
  --screen-tablet: 768px;
  --screen-laptop: 1024px;
  --screen-laptop-l: 1440px;
  --screen-laptop-4k: 2560px;

  --common-font-en: 'SSTW20-Roman';
  --common-font-en-bold: 'SSTW20-Bold';
  --common-color-bg-primary: #fff;
  --common-color-bg-primary-rgb: 255, 255, 255;
  --common-color-bg-secondary: #f7f6f4;
  --common-color-bg-tertiary: #edeceb;
  --common-color-bg-inverse-primary: #081217;
  --common-color-bg-inverse-secondary: #152126;
  --common-color-bg-inverse-tertiary: #273238;
  --common-color-text-primary: #081217;
  --common-color-text-secondary: #66696b;
  --common-color-text-inverse-primary: #fff;
  --common-color-text-inverse-secondary: #bdbcbb;
  --common-color-border-strong: #a4a3a2;
  --common-color-pallete-base-white: #fff;
  --common-color-border-inverse-strong: #f7f6f4;
  --swiper-theme-color: #007aff;
}
