.Container {
  position: relative;
  z-index: 1;
  color: white;
  box-sizing: border-box;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 900px){
    width: 100%;
  }
}

.mainText {
  font-family: var(--common-font-en-bold), sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 1.55;
  letter-spacing: 0.03em;

  @media (max-width: 900px){
    font-size: 1.75rem;
    padding: 0 24px;
    line-height: 1.6;
  }
}









